{% extends "users/index.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}

   
    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <div id="form_errors">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <div class="form-content">
        <form class"row g-3" action="{% url 'edit_profile'%}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-5" style="border: 1px solid black; margin: 4%; padding:4%; border-radius:20px;">
                    <center>
                    <div class="row my-3 p-3">
                        <img class="img-fluid img-thumbnail" src="{{ user.profile.avatar.url }} " style="cursor: pointer;"/>
                    </div></center>
                    <br>
                    <br>
                    <div class="form-group">
                        <label class="small mb-1">Username:</label><br>
                            <b>{{ user.username }}</b><br><br>
                        <label class="small mb-1">Email:</label><br>
                            <b>{{ user.email }}</b><br><br>
                        <label class="small mb-1">Phone:</label><br>
                            <b>{{ user.profile.phone }}</b><br><br>
                        <label class="small mb-1">Bio:</label><br>
                            <b>{{ user.profile.bio }}</b><br><br>
                        <label class="small mb-1">DOB:</label><br>
                            <b>{{ user.profile.dob }}</b><br>
                    </div>
                    <div class="form-group">
                        <hr class="my-4">
                        <a href="{% url 'password_change' %}">Change Password</a>
                    </div>
                    <a href="{% url 'edit_profile' %}">Edit</a>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}
